.score-keeper-container{
  min-height: 100vh;
  background-color: rgb(107, 252, 148);
  background-repeat: no-repeat;
  
}
.img-tennis{
  height: 200px;
  margin: auto;
  display: block;
  border-radius: 4px;
  border:1px dotted green;
}
.score-keeper-heading{
  text-align: center;
}
.score-card-container{
  display: flex;
  justify-content: space-around;
}

.score-card{
  background-color: rgb(36, 12, 249);
  color:white;
  font-family:'Times New Roman', Times, serif;
  min-height: 320px;
  min-width: 300px;
  border-radius: 15px;
  border:5px double;
}

.score-card-heading{
  text-align: center;
  font-size: 30px;
}
.score-count{
  margin: 0;
  text-align: center;
  font-size: 100px;
}
.button-container{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.score-button{
  font-size: 60px;
  border-radius: 50%;
  height: 70px;
  width:70px;
}
.reset-button{
  border:2px solid black;
  border-radius:50%;
  height:70px;
  width:70px;
  background-color:blue;
  color:white; 
}